#cap3
  overflow: hidden !important
  .titulo
    position: absolute
    z-index: 3
    width: 600px
    text-align: center
    left: 0
    right: 0
    margin: 0 auto
    top: 5px
    span
      color: $verdeClaro
  video
    width: 110%
    position: absolute
    filter: brightness(0.7)
  .efecto
    width: 100%
    height: 100%
    position: absolute
    background: linear-gradient(left, rgb(181, 60, 60) 0%, rgb(205, 193, 129) 100%)
    opacity: 0.3
  .resultado
    position: absolute
    width: 100%
    padding: 0 50px
    height: 85vh
    bottom: 5vh
    z-index: 1
    pointer-events: none
    transition: all 500ms ease
    transform: scale(0.5)
    opacity: 0
    &:hover
      cursor: crosshair
    &.mostrar
      transform: scale(1)
      opacity: 1
      pointer-events: all
    &::before
      content: ""
      width: 200vw
      height: 200vh
      position: absolute
      left: 50%
      top: 50%
      background: linear-gradient(left, rgb(181, 60, 60) 0%, rgb(205, 193, 129) 100%)
      opacity: 0.7
      transform: translateX(-50%) translateY(-50%)
      z-index: -1
    .translate
      position: relative
      height: 100%
      display: flex
      &::before
        content: attr(data-name)
        position: absolute
        top: 0
        padding: 20px
        font-family: $parrafos
        font-weight: 600
        font-style: italic
        color: white
        text-shadow: 2px 2px 5px rgb(0, 0, 0)
    >.slide
      height: 100%
      display: flex
      overflow-x: auto
      overflow-y: hidden
      padding: 10px 0
      img
        height: 100%

  .intro
    background: linear-gradient(left, rgb(181, 60, 60) 0%, rgb(205, 193, 129) 100%)
    overflow: hidden
    z-index: 4
    >video
      opacity: 0.4
      filter: brightness(0.5) grayscale(0)
  #dibujos
    position: absolute
    left: 50%
    top: 55%
    width: 800px
    height: 600px
    transform: translateX(-50%) translateY(-50%)
    >.elem
      position: absolute
      opacity: 0
      cursor: pointer
      transition: opacity 1s ease
      &:hover
        opacity: 1

      &.arbol
        left: 393px
        top: 133px
        background-color: rgba(108, 210, 0, 0.4)
        -webkit-mask-image: url("../images/arbol.png")
        width: 356px
        height: 416px
      &.sol
        left: 154px
        top: -8px
        background-color: rgba(237, 255, 0, 0.28)
        -webkit-mask-image: url("../images/sol.png")
        width: 208px
        height: 175px
      &.nube
        left: 8px
        top: 169px
        background-color: rgba(0, 194, 255, 0.28)
        -webkit-mask-image: url("../images/f-nube1.png")
        width: 286px
        height: 113px
      &.grupo
        left: 357px
        top: 352px
        background-color: rgba(255, 200, 115, 0.58)
        -webkit-mask-image: url("../images/f-grupo.png")
        width: 170px
        height: 142px
      &.choza
        left: 29px
        top: 268px
        background-color: rgba(210, 116, 33, 0.68)
        -webkit-mask-image: url("../images/f-choza.png")
        width: 335px
        height: 245px
